body{
    background-color: rgb(255, 255, 255);
}
:root{
    --main-color: #000000c9;
    --back-color: #000000;
    --black: #000000;
    --bg: #ffffff;
    --border:.1rem solid #ffffff4d;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;

}

header{
    background-color: var(--bg);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
}
header img{
    height: 6rem;
}
header .navbar a{
    margin: 1rem;
    font-size: 1.3rem;
    color: #000000;
}
.perfil{
    width: 26px;
    height: 26px;
}
.carrinho{
    width: 26px;
    height: 26px;
}

header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
header.rolagem{
    background-color: #ffffff9f;
    padding: 20px 4%;

 }
header.rolagem a{
    color: rgb(0, 0, 0);
 }
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    color: rgb(29, 109, 179);
    text-decoration: none;
    font-family: serif;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
   background-image: url(img/interior.webp);
    background-repeat: no-repeat;           
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}
.home .conteudo {
    max-width: 60rem;
    padding-left: 2rem;
}
.home .conteudo h3{
    font-size: 6rem;
    color: var(--main-color);
}
.home .conteudo p{
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem;
    color: rgb(255, 255, 255);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color:  var(--main-color);
    cursor: pointer;
    border-radius: 20px;
}
.btn:hover{
    letter-spacing: .1rem;
    background-color: var(--main-color);
    border-radius: 10px;
}   


.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

.manual-btn:hover{
    background-color: #fff;
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

.sobre .conteudo2{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 2rem;
    border-radius: 10px;
}



.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

.manual-btn:hover{
    background-color: #fff;
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}



.foto_sobre{
    width: 600px;
    height: 400px;
    margin-right: 1rem   
}
.foto_sobre img{
    width: 500px;
    margin-top: 30px;
}
.sobre .conteudo2 .texto_sobre p{
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.8;
}
.sobre .conteudo2 h3{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 2rem;
    padding-top: 3.5rem;
    font-size: 3rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.menu_promocoes .box_container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1.5rem;
    
}
.menu_promocoes .box_container .box{
    
    text-align: center;
    border: var(--border);
  
}
.menu_promocoes .box_container .box h3{
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
}
.menu_promocoes .box_container .box .preco{
    color: #fff;
    font-size: 1.2rem;
    padding: .5rem.0;
}
.menu_promocoes .box_container .box .preco span{
    font-size: .9rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu_promocoes .box_container .box:hover{
    background-color: #fff;
}
.menu_promocoes .box_container .box:hover > *{
  color: var(--black);
}
.box{
    border-radius: 20px;
}
.contato{
   
    width: 80%;
    margin: auto;
    padding-top: 100px;
    
}
.contato .row{
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
    border-radius: 20px;
}
.contato .row .map{
    flex: 1 1 45rem;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 20px;
    
}
.contato .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contato .row h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}
.contato .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    border-radius: 20px;
}
.contato .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    background: none;
}
.footer{
    background-color: white;
    text-align: center;
}
.footer .redes{
    padding: 1rem.0;
}
.footer .redes a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 3rem;
    border-radius: 50%;
}
.footer .redes a:hover{
    background-color: rgb(87, 82, 82);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem.0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #000000;
    border: var(--border);
    font-size: 2rem;
} 
.footer .links a:hover{
    background-color: rgb(87, 82, 82);
    border-radius: 10px;
}
.credit{
    color: #000000;
    padding-bottom: 10px;
  
}
html{
    scroll-behavior: smooth;
}
 

@media (max-width:768px) {
    header .navbar{
        display: none;
    }
    header .logo{
        margin-left: 33%;
    }
     .sobre .conteudo2 {
        display: block;
    }
     .sobre .conteudo2 {
        width: 100%;
        height: 100%;
    }
    .menu_promocoes .box_container{
        display: block;
    }
    .menu_promocoes .box_container .box{
        display: block;
        margin-top: 10px;
    }
    .ambiente .box-container{
        display: block;
    }
    .footer .links a{
        width: 80%;
        font-size: 20px;
    }
    
     
    }

 
